<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace  命名空间 必须唯一-->
<!--使用接口与xml进行绑定 namespace的值与接口路径相同-->
<mapper namespace="com.snut.material.dao.message.FormatDao">




    <insert id="saveFormat" parameterType="FormatEntity" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into format(name,operator,opertime)
                    values(#{name},#{operator},#{opertime})
    </insert>
    <update id="updateFormat" parameterType="FormatEntity">
        update format set name=#{name},operator=#{operator},opertime=#{opertime}
                    where id = #{id}
    </update>
    <update id="changeStata">
        update format set flag=#{flag} where id = #{row}
    </update>
    <delete id="delete">
        delete from format where id = #{id}
    </delete>


    <select id="findFormatList" resultType="FormatEntity">
        SELECT
          *
        FROM format ORDER BY opertime DESC
    </select>
    <select id="findFormatByid" resultType="FormatEntity">
        SELECT
            *
        FROM format where id = #{id}
    </select>
    <select id="findFormat" resultType="FormatEntity">
        select * from format where name like "%"#{account}"%"
    </select>
</mapper>

